@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$color-primary: #02AAB0;
$color-secondary: #fc4a1a;

$primary: $color-secondary;

$pagination-focus-color: $color-primary;
$pagination-color: $color-primary;
$pagination-hover-color: $color-secondary;

$component-active-color: white;
$component-active-bg: $color-secondary;

$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary
);

@import "bootstrap";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;

  background: #02AAB0;
  background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);
  background: linear-gradient(to right, #00CDAC, #02AAB0);
}

#root {
  min-height: 100vh;
  display: flex;
}

.btn {
  color: white;
}

.btn:hover {
  color: white;
}

.btn:active {
  color: white !important;
}

.btn:focus {
  color: white;
}

.bg-darken {
  background-color: rgba(1.0, 1.0, 1.0, 0.3);
}

th {
  vertical-align: middle;
}