@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$theme-colors: (
  "primary": #02AAB0
);

@import "bootstrap";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;

  background: #02AAB0;
  background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);
  background: linear-gradient(to right, #00CDAC, #02AAB0);
}

.btn-primary {
  color: white;
}

.btn-primary:hover {
  color: white;
}

.btn-primary:active {
  color: white !important;
}

.btn-primary:focus {
  color: white;
}